@{ 
    ViewBag.Title = "Not Found";
}

@*<h1>@ViewBag.ErrorMessage</h1>
<h1>@ViewBag.path</h1>
<h1>@ViewBag.QS</h1>*@
<a asp-action="index" asp-controller="home">
    Click here to Navigate to home Page
</a>